<div class="top-menu">
    <div class="container">
        <div class="main-title-container">
            <a class="main-title" routerLink="/episodes">
                <span class="title-emphasis">Torr</span><span>Feed</span>
            </a>
        </div>
        <div class="navigation-links-container">
            <a class="navigation-link" routerLink="/episodes" routerLinkActive="active">Episodes</a>
            <a class="navigation-link" routerLink="/shows" routerLinkActive="active">Shows</a>
            <div ngbDropdown class="main-menu">
                <button class="menu-button" ngbDropdownToggle>
                    <i class="fa fa-bars"></i>
                </button>
                <div class="dropdown-menu">
                    <button class="dropdown-item" (click)="triggerFetch()">Fetch</button>
                </div>
            </div>
        </div>
    </div>
</div>