top-menu {
    display: block;
    margin-bottom: 20px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.25);
}
.top-menu {
    background-color: white;

    .container {
        display: flex;
        align-items: flex-end;
    }
}

.main-title-container {
    flex: 1;
}

.main-title {
    display: inline-block;
    margin: 0;
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.25);
    &:hover, &:active, &:focus {
        color: rgba(0, 0, 0, 0.33);
        text-decoration: none;
    }

    .title-emphasis {
        font-weight: 600;
        color: $accent-color;
    }

    @media (max-width: 600px) {
        font-size: 30px;
    }
}

.navigation-link {
    display: inline-block;
    padding: 10px 15px;
    font-weight: lighter;
    border-bottom: solid 2px transparent;

    &.active {
        border-bottom: solid 2px $accent-color;
    }

    @media (max-width: 600px) {
        font-size: 0.8em;
    }
}

@media (max-width: 400px) {
    .top-menu .container {
        flex-wrap: wrap;
    }
    .main-title-container, .navigation-links-container {
        width: 100%;
        text-align: center;
    }
}